/* Importa o arquivo de estilo global */
@import url(../../assets/css/global.css);

/* Base para dispositivos móveis */
:root {
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
}
div img:hover{
    background-color: #e4e4e4 !important;
}
