@import url(../css/bootstrap/bootstrap.css);

/* Variáveis CSS para cores e fontes */
:root {
    --color-dark-blue: #2b3d4f;
    --color-light-blue: #3d566e;
    --color-gray: #BDC3C7;
    --color-light-gray: #ecf0f1;
    --color-medium-gray: #95a5a6;
    --color-blue: #3498DB;

    --font-primary: 'Arial', sans-serif;
    --font-size-base: 14px; /* Base menor para mobile */
}

.bg-dark{
    background-color: var(--color-dark-blue) !important;
    color: var(--color-light-gray) !important;
}

.bg-light{
    background-color: var(--color-gray) !important;
}

.bg-secondary{
    background-color: var(--color-medium-gray) !important;
}

.bg-primary{
    background-color: var(--color-light-blue) !important;
}

.bg-body{
    background-color: var(--color-light-gray) !important;
}

.text-light{
    color: var(--color-light-gray) !important;
}
.text-dark{
    color: var(--color-dark-blue) !important;
}

/* Links */
a {
    color: var(--color-light-gray) !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 50px;
    margin: -5px;
}

/* Estilos para telas maiores que 768px (desktop) */
@media (min-width: 769px) {
    :root {
        --font-size-base: 16px;
    }

    .logo {
        width: 80px;
    }
}
