@import url(../css/global.css);

/* Base para dispositivos móveis */
:root {
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 28px;
}

.user-signup {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px; /* Padding inicial menor para mobile */
}

section#hero {
    text-align: center;
    padding: 20px;
    background-color: var(--color-gray);
    color: var(--color-light-gray);
}

section#hero h2 {
    font-size: var(--font-size-xlarge);
    margin-bottom: 10px;
    color: var(--color-dark-blue);
}

section#hero p {
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
}

section#features {
    padding: 20px;
    background-color: var(--color-medium-gray);
    text-align: center;
}

section#features h3 {
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

.feature-cards {
    display: flex;
    flex-direction: column; /* Coluna para mobile */
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: var(--color-gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card h4 {
    font-size: var(--font-size-medium);
    color: var(--color-dark-blue);
    margin-bottom: 10px;
}

section#feedbacks {
    padding: 20px;
    text-align: center;
    background-color: var(--color-gray);
}

section#feedbacks h3 {
    font-size: var(--font-size-large);
    margin-bottom: 20px;
    color: var(--color-dark-blue);
}

.feedback {
    margin: 15px auto;
    max-width: 100%;
    background-color: var(--color-medium-gray);
    padding: 20px;
    border-radius: 8px;
}

.feedback p {
    font-style: italic;
}

.feedback span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: var(--color-light-blue);
}

section#call-to-action {
    padding: 20px;
    background-color: var(--color-medium-gray);
    text-align: center;
    color: var(--color-light-gray);
}

section#call-to-action h3 {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
    color: var(--color-dark-blue);
}

section#call-to-action p {
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
}

section#back-to-top {
    background-color: var(--color-light-blue);
    text-align: center;
    padding: 10px;
}

/* Ajustes para telas médias (tablet) */
@media (min-width: 481px) {
    .user-signup {
        padding: 8px 12px;
    }

    .feature-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }
}

/* Ajustes para telas grandes (desktop) */
@media (min-width: 769px) {
    .user-signup {
        padding: 10px 15px;
    }

    section#hero {
        padding: 40px;
    }

    section#features {
        padding: 40px;
    }

    section#features h3, section#feedbacks h3, section#call-to-action h3 {
        font-size: 32px;
    }

    .feature-cards {
        gap: 20px;
        justify-content: center;
    }

    .card {
        width: 250px;
        padding: 70px;
    }

    section#feedbacks {
        padding: 40px;
    }

    section#call-to-action {
        padding: 40px;
    }
}
